@import '../common.css';

.section {
  font-family: 'Noto Sans KR', sans-serif;
  width: 1200px;
  margin: 0 auto;
}

.section li {
  border-top: 1px solid #cccccc;
  padding: 40px 0;
  overflow: hidden;
}

.section li h4 {
  width: 315px;
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: -0.56px;
  font-weight: bold;
  float: left;
}

.section-content {
  width: 803px;
  display: inline-block;
  text-align: center;
  border: 1px solid #cccccc;
  padding: 40px;
}

.hash-tag {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: -0.32px;
  color: #e66526;
}

a.link {
  font-weight: bold;
  line-height: 1.63;
  letter-spacing: -0.32px;
  color: #e66526;
  font-style: underline;
}

.content-title {
  font-size: 32px;
  line-height: 1.31;
  letter-spacing: -0.64px;
  text-align: center;
  color: #222222;
}

.image-area {
  margin-top: 40px;
  margin-bottom: 55px;
}

.text-area {
  text-align: left;
}

.orange-bar {
  display: inline-block;
  width: 12px;
  height: 3px;
  background-color: #e66526;
  margin-bottom: 10px;
}

.text-area p {
  line-height: 1.63;
  letter-spacing: -0.32px;
  text-align: left;
  color: #222222;
}

.text-area > p:not(:last-child) {
  margin-bottom: 30px;
}

.graph-container {
  overflow: hidden;
}

.graph-container .text-center {
  margin-bottom: 20px;
}

.graph-container p {
  margin-top: 0;
  display: inline-block;
  color: #a176d4;
  font-size: 14px;
  letter-spacing: -0.55px;
}

.graph-container .text-center p span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #a176d4;
  margin-right: 4px;
  transform: translate(0px, 3px);
}

.graph-container .text-center p + p {
  margin-left: 20px;
  color: #632ba4;
}

.graph-container .text-center p + p span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #632ba4;
}

.graph-box {
  width: 390px;
  float: left;
}

.graph-box:first-child {
  float: left;
}

.graph-box:last-child {
  float: right;
}

#graph01,
#graph02 {
  width: 100%;
  height: 210px;
}

.graph-box strong {
  display: inline-block;
  font-weight: 500;
  line-height: 0.69;
  letter-spacing: -0.32px;
  color: #222222;
  margin-bottom: 10px;
}

.graph-box span {
  display: inline-block;
  font-size: 14px;
  line-height: 0.79;
  letter-spacing: -0.28px;
  color: #666666;
}
